body {
    color: black !important;
    /* background-color:  !important; */
}

.navbar {
    float: right;
    font-family: "Sriracha";
}

.nav-item {
    margin-left: 35px;
}

.top-content {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../../imgs/landing-image.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
} 


.image-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f5c181;
    font-family: "Dancing Script";
}

.image-text h1 {
    font-size: 50px;
    animation: 2s slide-text;
}

@keyframes slide-text { 
    from {
        margin-left: -900%;
    }
     to {
         margin-left: 0;
     }
}

.image-gallery {
    margin-top: 80px;
}

/* .menu-title {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-family: "Sriracha";
} */

.card {
    margin-bottom: 30px;
    margin-left: 10px;
}

/* Image Effects */
.hidden {
    font-family: "Sriracha";
    opacity: 0;
    transition: 0.7s ease;
}

.card:hover img {
    opacity: 0.5;
}

.card:hover .hidden {
    opacity: 0.7;
}

.hidden .price {
    color: black;
    position: absolute;
    top: 5%;
    right: 10%;
}

.hidden .cake-name {
    color: black;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.card:hover .hidden .cake-name h4 {
    animation: 1s slide-in;
}

@keyframes slide-in {
    from { 
        margin-left: 55%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
} 

@media screen and (max-width: 700px){

    .navbar {
        float: none;
        background-color: black;
    }

    .nav-item {
        margin-left: 0;
    }

    .top-content {
        height: 300px;
        background-attachment: initial;
    }

    .top-content h1 {
        font-size: 30px;
        width: 150%;
    }

    .image-text {
        position: relative;
        top: 45%; 
        left: 25%;
    }

}




@media screen  and (max-width : 700px) and (orientation : landscape) {

    .top-content {
        height: 370px;
    }

}

@media screen and (orientation: landscape) and (min-width: 731px) and (max-width: 823px) {
    .navbar {
        float: none;
        background-color: black;
    }

    .nav-item {
        margin-left: 0;
    }

    .top-content {
        height: 420px;
        background-attachment: initial;
    }

    .top-content h1 {
        font-size: 30px;
        width: 150%;
    }

    .image-text {
        position: relative;
        top: 45%; 
        left: 25%;
    }